.map-background {
    width: 100%;
    height: 710px;
    background-image: url(./Map.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.map-brand-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    color: #ffffff;
}

.frame-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    transform: translateY(-28%);
}

.frame-text {
    width: 500px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}