.map-background {
    width: 100%;
    height: 710px;
    background-image: url(./Map.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.frame-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.frame-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}