.device-location-window {
  position: absolute;
  top: 86px;
  left: 20px;

  width: 335px;

  overflow: hidden;

  background: linear-gradient(360deg, #1E1E1E 0%, #2E2E2E 100%);
  border-radius: 10px;
  border: 1px solid #454545;

  padding: 18px 20px 20px;

  color: #FFFFFF;
}
