.device-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .device-list-item-container {
    position: relative;
    z-index:0;

    height: 87px;
    overflow: hidden;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 12px;
    font-weight: 500;

    .device-list-item-shadow {
      position: absolute;
      z-index: -100;

      width: 162px;
      height: 162px;

      border-radius: 50%;
      filter: blur(50px);
      opacity: 0.5;
    }

    .device-list-item-shadow-left {
      top: -39px;
      left: 10px;
    }

    .device-list-item-shadow-right {
      top: -39px;
      left: 193px;
    }

    .device-list-item-validated-shadow-left {
      background-color: #709F0B;
    }

    .device-list-item-validated-shadow-right {
      background-color: #26FFF2;
    }

    .device-list-item-shadow-left-second {
      background-color: #0B469F;
    }

    .device-list-item-shadow-right-second {
      background-color: #2663FF;
    }

    .device-list-item-shadow-left-third {
      background-color: #FF7246;
    }

    .device-list-item-shadow-right-third {
      background-color: #FF2626;
    }

    .device-list-create-device-item-shadow-left {
      background-color: #FFCD4B;
    }

    .device-list-create-device-item-shadow-right {
      background-color: #FF265A;
    }

    .device-list-item-image {
      position: absolute;
      top: 8px;
      left: 205px;

      width: 180px;
      height: 118px;
    }

    .device-list-item {
      padding-left: 16px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      button {
        text-decoration: underline;
      }

      .device-list-item-opaque-text {
        opacity: 0.6;
      }
    }
  }
}
