.location-address-loader-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .location-address-loader {
    height: 36px;
    width: 36px;

    background: conic-gradient(transparent, #ACF709);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: load 2s linear infinite;
  }

  .location-address-loader::before {
    width: 75%;
    height: 75%;
    position: absolute;
    border-radius: 50%;
    background-color: #2E2E2E;
    content: '';
  }

  @keyframes load {
    100% {
      transform: rotate(360deg);
    }
  }
}
