.map-app-container {
    max-width: 1440px;
    width: 100%;

    padding: 20px 20px 0;

    overflow: scroll;
}

.map-app-map-image {
    height: 100%;
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;

    z-index: -1000;
}

.map-app-product-description {
    max-width: 335px;
    max-height: 576px;

    width: 100%;
    height: 100%;

    background: linear-gradient(360deg, rgb(30 30 30 / 100%) 0%, rgb(46 46 46 / 100%) 100%);
    border-radius: 10px;
    border: 1px solid #454545;

    .map-app-product-description-text {
        margin: 25px 57px 0 16px;
        padding-bottom: 16px;

        color: white;

        h1 {
            font-size: 40px;
            font-weight: 500;
            line-height: 39px;

            padding-bottom: 16px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}