.map-app-container {
    max-width: 1440px;
    height: 100vh;
    width: 100%;

    padding: 20px 20px 0;
}

.map-app-map-image {
    height: 100%;
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;

    z-index: -1000;
}