.product-description-window {
  width: 335px;
  height: 545px;

  position: absolute;
  overflow: hidden;

  animation-fill-mode: forwards;

  background: linear-gradient(360deg, rgb(30 30 30 / 100%) 0%, rgb(46 46 46 / 100%) 100%);
  border-radius: 10px;
  border: 1px solid #454545;

  .product-description-shadow {
    width: 475px;
    height: 475px;

    position: absolute;
    transform: translate(-20%, 70%);

    opacity: 0.5;
    filter: blur(160px);
    background-color: #ACF709;
  }

  .product-description-content-container {
    position: relative;

    .product-description-text {
      width: 250px;

      margin: 25px 57px 0 16px;
      padding-bottom: 16px;

      color: white;

      h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 39px;

        padding-bottom: 16px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}

.product-description-window-appears {
  animation-name: keyframe-product-description-slide-in;
  animation-duration: 1s;
}

@keyframes keyframe-product-description-slide-in {
  from {
    top: 86px;
    left: -355px;
  }

  to {
    top: 86px;
    left: 20px;
  }
}

.product-description-window-disappears {
  animation-name: keyframe-product-description-slide-out;
  animation-duration: 1s;
}

@keyframes keyframe-product-description-slide-out {
  from {
    top: 86px;
    left: 20px;
  }

  to {
    top: 86px;
    left: -355px;
  }
}
