.login-background-container {
    width: 1440px;

    margin: 0 auto;

    background-image: url(../../../assets/images/GoogleMaps.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

.login-content-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-window {
    max-width: 690px;
    max-height: 516px;

    width: 100%;
    height: 100%;

    border-radius: 10px;
    border: 1px solid #454545;
    background: linear-gradient(0deg, rgba(30, 30, 30, 0.90) 0%, rgba(46, 46, 46, 0.90) 100%);
    backdrop-filter: blur(10px);

    text-align: center;
}

.login-window-content-container {
    max-width: 340px;

    height: 100%;
    width: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
