.login-modal-header-container {
  width: 100%;

  padding-top: 46px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .login-modal-header-logo {
    max-width: 46px;
    max-height: 46px;
    width: 100%;
    height: 100%;
  }

  .login-modal-header {
    font-size: 40px;
    font-weight: 500;
    line-height: 39px;
    color: #FFFFFF;
  }

  .login-modal-header-description {
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
  }
}