.login-modal-navigation-container {
  width: 100%;

  padding: 20px;

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    min-width: 32px;
    min-height: 32px;

    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}