.login-modal-navigation-container {
  width: 100%;

  padding: 20px;

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .login-modal-navigation-button-image {
    width: 32px;
    height: 32px;
  }
}