.hero-container {
    display: flex;
    justify-content: center;

    .hero-background-video {
        width: 100%;

        z-index: -1;

        mask-image: url("../../../assets/images/Map.png");
        mask-size: 100%;
        mask-repeat: no-repeat;

        video {
            width: 100%;

            transform: scale(1.2);

            animation: fade-in-animation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes fade-in-animation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 0.6;
            }
        }
    }

    .hero-content-container {
        width: 584px;

        position: absolute;
        top: 220px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .hero-brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            p {
                font-size: 64px;
                font-weight: 700;
                line-height: 77px;
                color: #ffffff;
            }
        }

        .hero-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
        }

        .hero-links {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
        }
    }
}
