.header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgb(255 255 255 / 60%);
}

.phone-text-blocks {
    width: 1342px;
    height: 1082px;

    background-image: url("../../../assets/images/Phone.png");
    background-position: right;

    padding-top: 110px;
    padding-left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}

.phone-header-and-description {
    width: 400px;
    height: 140px;
}
