@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

.footer-outer-container {
    width: 100%;
    height: auto;
    padding: 32px 0 32px 0;

    display: flex;
    justify-content: center;
}

.footer-inner-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-brand {
    max-width: 374px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .footer-brand-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        p {
            font-family: 'Tektur';
            font-size: 64px;
            font-weight: 700;
            line-height: 23px;

            color: #FFFFFF;
        }
    }

    .footer-brand-description {
        color: #FFFFFF;
        opacity: 0.5;

        p:first-child {
            font-family: 'Tektur';
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
        }

        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
        }
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    p {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: #FFFFFF;
    }

    p:first-child {
        opacity: 0.5;
    }
}

.footer-contacts {
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
