.header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    color: #FFFFFF;
}

.description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
