.advantages-container {
    height: auto;
    width: 100%;
    background-color: #141414;
}

.advantage-block-full {
    height: 410px;
    width: 1200px;
    background-color: #CBEA5E;
    border-radius: 50px;
}