.advantages-container {
    height: auto;
    width: 100%;
    background-color: #141414;
}

.advantage-block {
    height: 410px;
    width: 1200px;

    display: flex;
}

.advantage-block-radius {
    border-radius: 50px;
}

.advantage-block-text p {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
}

.advantage-block-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.advantage-block-text-header {
    opacity: 0.5;
}