/* The container for the whole thing */
.advantages-container {
    height: auto;
    width: 100%;
    background-color: #141414;

    padding: 105px 120px 62px 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* The container is split into blocks */
.advantage-block {
    height: 410px;
    width: 1200px;

    display: flex;
}

/* Each block (even the full one is split into 2 internal containers */
.advantage-block-half {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage-block-radius {
    border-radius: 50px;
}

.advantage-block-text {
    p {
        font-size: 64px;
        font-weight: 700;
        line-height: 77px;
    }

    p:first-child {
        opacity: 0.5;
    }
}

.advantage-block-half-text-container {
    max-width: 437px;
}

.advantages-block-map {
    background-image: url("../../../assets/images/Bridge.png");

    color: #ffffff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-block-map-shadows {
    position: absolute;

    width: inherit;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantage-block-terminal-image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}